.box-title
{
    font-size: 17px !important;
}

.box-header
{
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.form-group
{
    margin-bottom: 5px !important;
}

.box-body
{
    padding-top: 5px !important;
    padding-bottom: 5px !important;

}
